.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}